/!BUILD/
/!MEDIA/
/!RELEASES/
/!TRASH/
/Assets/
.idea/
__pycache__/
/Backups/
/Downloads/
/dist/
/WWMI/
/ZZMI/
/SRMI/
/GIMI/
/ReShade/
/XXMI Launcher Config.json
/XXMI-Launcher Log.txt
/XXMI Launcher Log.txt
/fps_config.json
打包.py
Resources/Security/private_key.der
Resources/Security/public_key.der
