attrs==26.1.0
cattrs==26.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
customtkinter==5.2.2
dacite==1.9.2
darkdetect==0.8.0
idna==3.20
Markdown==3.10.3
Nuitka==4.2.2
ordered-set==4.1.0
packaging==26.3
pillow==12.3.0
psutil==7.2.2
py-gfm==2.0.0
pycparser==3.0
pyglet==2.1.16
PySocks==1.7.1
pywin32==312
requests==2.34.2
tkinterweb==4.25.4
tkinterweb-tkhtml==2.2.0
tkinterweb-tkhtml-extras==1.4.0
typing_extensions==4.16.0
urllib3==2.8.0
vdf==3.4
winshell==0.6
WMI==1.5.1
zstandard==0.25.0
