certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
customtkinter==5.2.2
dacite==1.9.2
darkdetect==0.8.0
idna==3.10
Markdown==3.7
Nuitka==2.6.8
ordered-set==4.1.0
packaging==24.2
pillow==11.1.0
psutil==7.0.0
py-gfm==2.0.0
pycparser==2.22
pyglet==2.1.3
pyinjector==1.3.0
PySocks==1.7.1
pywin32==310
requests==2.32.3
tkinterweb==4.2.0
urllib3==2.3.0
winshell==0.6
WMI==1.5.1
zstandard==0.23.0
